<html>
    <head>
        <title>Felix's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Felix's Blog</a></h1>
        </div>

        <div>
            <p>published: 31.05.2015, 5:50</p>
            <h2><a href="">My first post</a></h2>
            <p>I like cake.</p>
        </div>

        <div>
            <p>published: 31.05.2015, 5:51</p>
            <h2><a href="">My second post</a></h2>
            <p>That shit is delicious, but it makes me fat. :(</p>
        </div>
    </body>
</html>